.startBoard {
  --green: #00f260;
  --blue: #0575e6;
  min-width: 320px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(var(--green), var(--blue)) center / cover
    no-repeat;
}
